/*! Place your custom styles here */


.text-black{
    color: #000000!important;
}

.text-purple{
    color: #B88FED!important;
}

.icon-width-13{
    width: 13%!important;
}

.bg--image {
    background: url(https://media.istockphoto.com/photos/grey-textured-background-picture-id1154378714) rgb(10 15 29 / 90%);
    background-size: cover;
    background-blend-mode: multiply;
}
